.nav_custom {
    background-color: white;
    color: grey;
    padding-right:3em;
}

.nav_custom a{
    color: grey;
}

.nav_custom a:hover{
    color: dodgerblue;
    font-weight: 600;
}
.left_item{
    margin-left:2em;
}