.main_home{
    padding-left: 1em;
    padding-right: 1em;
}
.main{
    margin-top: 236px;
    padding-left: 1em;
    padding-right: 1em;
}
@media only screen and (min-width: 249px) {
    .main{
        margin-top: 156px;
        padding-left: 1em;
        padding-right: 1em;
    }
}
@media only screen and (min-width: 992px) {
    .main{
        margin-top: 76px;
        padding-left: 1em;
        padding-right: 1em;
    }
}